<h1>Search</h1>

<form action="/movies" method="GET" role="search" onsubmit="return q.value != ''">
	<input id="searchbar" type="text" name="q" placeholder="Search..." />
	<button title="Search" id="searchbtn" type="submit" class="ui-button-icon-only"><span style="display: inline-block" class="ui-icon ui-icon-search"></span></button>
</form>

<p class="info">Recent movies:
	<% @movies.each do |movie| %>
		<%= link_to movie.display_name, movie %><% if movie != @movies.last %>, <% end %>
	<% end %>
</p>
